DATABASE_URL="postgresql://mockmock"

# S3
AWS_REGION="ap-northeast-1"
AWS_ACCESS_KEY_ID="mockmcok"
AWS_SECRET_ACCESS_KEY="mockmock"
AWS_BUCKET_NAME="mockmock"
AWS_ENDPOINT="mockcmokc"

JWT_SECRET="kucakukcakucka"